# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Run directory
run/
logs/

# Java / OS
*.class
*.log
.DS_Store
Thumbs.db

launcher/node_modules/
launcher/runtime/
launcher/mods/*.jar
launcher/*.exe
